block content
  li.hot__list-item
    a.hot__list-link(href='#')
      | Билл Гейтс впервые за два года возглавил рейтинг самых богатых людей
      | мира по версии Bloomberg
      sup.hot__link-sup 12
