block content
  ul.hot__list
    each hotArticle in hotArticles
      li.hot__list-item
        a.hot__list-link(href='#')
          | #{hotArticle.announce}
          sup.hot__link-sup #{hotArticle.commentsCount}
