block content
  section.main-page__last.last
    h2.last__name Последние комментарии 
      span.last__icon.last__icon--cloud

    if (comments.length > 0)
      include last-comments-list.pug
    else
      p.last__empty Здесь пока ничего нет...
