block content
  ul.comments__list
    each comment in article.comments
      li.comments__comment
        .comments__avatar.avatar
          img(src='../img/avatar-1.png' alt='аватар пользователя')
        .comments__text
          .comments__head
            p Евгений Петров •
            time.comments__date(datetime='2019-03-21T20:33') #{humanizeDate(HumanizedDateFormat.FULL, createdAt)}
          p.comments__message #{comment.text}
