block content
  li.preview__item
    ul.preview__breadcrumbs
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='#') Дизайн
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='#') Удаленная работа
    .preview__background
      img.preview__background-image(src='../../img/skyscraper@1x.jpg' width='460' height='240' srcset='../../img/skyscraper@1x.jpg 1x, img/skyscraper@2x.jpg 2x' alt='Фотография небоскреба')
    time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
    h3.preview__name
      a.preview__name-link(href='#') Я ничего не понял
    p.preview__text
      | Если вы сами пишете такие письма — почитайте Ильяхова.
      | А в этой заметке я расскажу про заклинание, которое от таких писем помогает.
    a.preview__comment(href='#')
      | Комментарии
      span.preview__cloud
      b.preview__comment-count 12
