# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
mocks.json
*http

# Директория с загруженными изображениями
src/express/upload/img/

# Папка с собранными файлами проекта
build/
