doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content='Личный блог Типотека')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Типотека
    link(rel='preload' href='../../fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='../../fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='../../fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='../../css/style.min.css')
    style.
      li.pagination__item--active{
        pointer-events: none;
      }

  body
    .wrapper
      include _mixins/utils.pug
      include partials/header.pug
      block content
      include partials/footer.pug
      include partials/post-template.pug
      include partials/comment-template.pug

script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js')
script(src='../../js/vendor.js')
script(src='../../js/main.js')
script(src='../../js/socket.js')
