extends layout.pug
block content
  -
    let sectionFlexClassnames = [`main-page__section-flex`];

    if (hotArticles.length === 0 && comments.length === 0) {
      sectionFlexClassnames.push(`main-page__section-flex--short`);
    }

  main.main-page
    if (categories.length > 0 && previewArticles.length > 0)
      h1.visually-hidden Главная страница личного блога Типотека
      p Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

      include partials/themes-section.pug

      div(class=sectionFlexClassnames)
        include partials/hot-section.pug
        include partials/last-comments-section.pug

      include partials/preview-section.pug

    else
      include main-empty.pug
